<div class="col-lg-8 col-lg-offset-2">
  <input type="text" class="form-control" [(ngModel)]="carName"><br>
  <input type="text" class="form-control" [(ngModel)]="carColor"><br>
    <button class="btn btn-success" (click)="addCar()">Добавить машину в список</button>
  <hr>
  <button class="btn btn-primary"(click)="loadCars()">Загрузить список машин</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
        <span 
        class="badge badge-pill badge-dark"
        [ngStyle]="{background: car.color}"
      >{{car.id}}</span>{{car.name}}
      <button class="btn btn-sm btn-info" (click)="setNewColor(car)">Изиенить цвет</button>
    </li>
  </ul>
</div>
  