<div class="col-lg-8 col-lg-offset-2">
  <form (ngSubmit)="submitForm(form)" #form="ngForm" >
    <div ngModelGroup="user" #user="ngModelGroup">
      <div class="form-group" >
        <label>Email</label>
        <input 
          type="text" 
          class="form-control" 
          ngModel
          name="email"
          required
          email
          #refEmail="ngModel"        
        >
        <p *ngIf="refEmail.invalid &&  refEmail.touched">
          Введите корректный email
        </p>
        <button  type="button" class="btn btn-primary" (click)="clickRandEmail()" >Добавить случайный email</button>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input 
          type="password" 
          class="form-control" 
          ngModel
          name="pass"
          required
          #refPass="ngModel"
        >
        <p *ngIf="refPass.invalid && refPass.touched">Введите корректный пароль</p>
      </div>
    </div>
    <p *ngIf="user.invalid && user.touched">Введите корректные данные пользователя</p>
    <div class="form-group">
      <label>Выберите страну</label>
      <select 
        class="form-control"
        [ngModel] = "defaultCantry"
        name="country"
        required
      >
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input 
          type="radio" 
          [value]="ans.type"
          [ngModel] = "defaultAnswer"
          name="answer"
          required
        > 
        {{ans.text}}
      </label>
    </div>
    <button 
      class="btn btn-success" 
      type="submit"
      [disabled]="!form.valid"
    >Сохранить</button>

  </form>
</div>