<p>Форма добавления машины:</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<hr>
<button class="btn btn-success" (click)="changeCarName()">Изменить машину</button>
<button class="btn btn-danger" (click)="deleteCar()">Удалить машину</button>
<hr>
<div class="list-group">
  <app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car" [name]="car.name">
    <!-- ng-comtent -->
    <div class="card">
      <h4 #carHeading class="card-header">Название: {{ car.name }}</h4>
      <div class="card-body">
        <p class="card-text">Год: {{ car.year }}</p>
      </div>
    </div>

  </app-car>
</div> 

